<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="tk.tanguy.droidsshd"
	android:installLocation="internalOnly" android:versionName="1.2">
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />

	<application android:icon="@drawable/droidsshd_icon"
		android:label="@string/app_label"
		android:debuggable="true"
		android:process="tk.tanguy.droidsshd"
		android:description="@string/app_description"
	>
		<service 
			android:name=".system.DroidSSHdService"
			android:exported="true"
			android:enabled="true"
		>
			<intent-filter>
				<action android:name=".system.DroidSSHdService" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</service>
		<activity 
			android:name=".DroidSSHd">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="tk.tanguy.droidsshd.activity.Preferences"/>
		<activity android:name="tk.tanguy.droidsshd.activity.InitialSetup"/>
		<activity android:name="tk.tanguy.droidsshd.activity.About"/>
		<activity android:name="com.h3r3t1c.filechooser.FileChooser">
			<intent-filter>
				<action android:name="tk.tanguy.droidsshd.AUTHORIZED_KEYS"/>
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
	</application>
</manifest>
